$main-app-color: #ffe785;
$main-bg-color: #222222;
$title-color: #808080;
$dark-gray-1: #1b1b1b;

$category-action-color: #ffd858;
$category-adventure-color: #ff9858;
$category-animation-color: #8258ff;
$category-comedy-color: #b8917a;
$category-crime-color: #b3b3b3;
$category-documentary-color: #865e14;
$category-drama-color: #3889a8;
$category-family-color: #ff96e0;
$category-fantasy-color: #58fff9;
$category-history-color: #8d8d8d;
$category-horror-color: #757575;
$category-music-color: #36bd69;
$category-mystery-color: #5879ff;
$category-romance-color: #ff5892;
$category-science-fiction-color: #4bacfd;
$category-tv-movie-color: #eeff58;
$category-thriller-color: #8e4029;
$category-war-color: #6f1d00;
$category-western-color: #f89804;