@import "./variables";
@import "./mixins";

body {
  margin: 0;
  background-color: $main-bg-color;
}

a:-webkit-any-link:active, a:-webkit-any-link {
  color: transparent;
}

.items-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.middle-align {
  @extend .items-center, .justify-center;
}

.app-container {
  $padding: $margin-navbar / 2;
  width: 100%;
  padding: 0 ($padding);
  margin: 0 auto;

  max-width: calc(100% - #{$padding} * 2);

  @include media(md) {
    max-width: $screen-md - $padding * 2;
  }

  @include media(lg) {
    max-width: $screen-lg - $padding * 2;
  }
}

.cursor-pointer {
  cursor: pointer;
}